---
layout: default
title: People
description: People
group: navigation
navorder: 2
---
{% include JB/setup %}

<div class="bigspacer"></div>
<div class="bigspacer"></div>
<div class="bigtitle text-center">Faculty</div>
<div class="bigspacer"></div>
<hr/>
{% for member in site.categories.team reversed %}
	{% if member.alum == false and member.position != "student" %}
	    {% cycle 'add rows': '<div class="row">', <div class="rowb"> %}
			<div class="col-md-6 memberbox">
				<div class="media">
	  				<a class="pull-left" href="{{ BASE_PATH }}{{ member.url }}">
	    				<img class="media-object member-photo" src="{{ BASE_PATH }}{{ member.image }}">
	  				</a>
	 			 	<div class="media-body">
	    				<div class="head media-heading member-name">
	    					<a href="{{ BASE_PATH }}{{ member.url }}" class="off">{{ member.title }}</a>
                        <p class="note"><b>{{ member.position }}</b></p>
	    				</div>
                        <p class="note"><i>{{ member.department }}</i></p>
	    				<p class="note">{{ member.interests }}</p>
	  				</div>
				</div>
	        </div>	  
	    {% cycle 'close rows': <div class="rowb">, '</div><div class="bigspacer"></div>' %}
	{% endif %}
{% endfor %}

<!-- {% cycle 'close rows': nil, '</div><div class="bigspacer"></div>', '</div><div class="bigspacer"></div>' %} -->


<!-- comment out this next line if there are multiples of two members -->
<!-- </div> -->

<div class="bigspacer"></div>
<div class="bigtitle text-center">Students</div>
<div class="bigspacer"></div>
<hr/>
{% for member in site.categories.team reversed %}
	{% if member.alum == false and member.position == "student" %}
	    {% cycle 'add stud rows': '<div class="row">', <div class="rowb"> %}
			<div class="col-md-6 memberbox">
				<div class="media">
<!-- 	  				<a class="pull-left" href="{{ member.url }}">
	    				<img class="media-object member-photo" src="{{ member.image }}">
	  				</a> -->
	 			 	<div class="media-body">
	    				<div class="head media-heading member-name">
	    					<a href="{{ BASE_PATH }}{{ member.url }}" class="off">{{ member.title }}</a>
                        <p class="note"><b>{{ member.designation }}</b></p>
	    				</div>
                        <p class="note"><i>{{ member.department }}</i></p>
	    				<p class="note">{{ member.interests }}</p>
	  				</div>
				</div>
	        </div>	  
	    {% cycle 'close stud rows': <div class="rowb">, '</div><div class="bigspacer"></div>' %}
	{% endif %}
{% endfor %}

<!-- {% cycle 'close rows': nil, '</div><div class="bigspacer"></div>', '</div><div class="bigspacer"></div>' %} -->
<!-- comment out this next line if there are multiples of two members -->
<!-- </div> -->

<div class="bigspacer"></div>
<div class="bigtitle text-center">Alumni</div>
<div class="bigspacer"></div>
<hr/>

{% for member in site.categories.team %}
	{% if member.alum == true %}
	    {% cycle 'add alum rows': '<div class="row">', nil, nil %}
			<div class="col-md-6 memberbox">
				<div class="media">
<!-- 	  				<a class="pull-left" href="{{ member.url }}">
	    				<img class="media-object member-photo" src="{{ member.image }}">
	  				</a>
 -->	 			 	<div class="media-body">
	    				<div class="head media-heading member-name"><a href="{{ BASE_PATH }}{{ member.url }}" class="off">{{ member.title }}</a></div>
	    				<p class="note">{{ member.designation }}</p>
	  				</div>
				</div>
	        </div>	  
	    {% cycle 'close alum rows': nil, nil, '</div><div class="bigspacer"></div>' %}
	{% endif %}
{% endfor %}
{% comment %}
{% cycle 'close alum rows': nil, '</div><div class="bigspacer"></div>', '</div><div class="bigspacer"></div>' %}
{% endcomment %}

<!-- comment out this next line if there are multiples of three alumni -->
</div>


<div class="bigspacer"></div>
